<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span>&times;</span>
	</button>
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<div class="right-content-table">
		<div id="" class="row">
			<div class="form-group col-xs-12">
				<label class="col-xs-12" ng-bind-html="noticeHtml"><!--{{noticeHtml}}--></label>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="close()">取 消</button>
</div>
